## Compress kernel with XZ instead of GZIP
## kernel-install.ebuild only supports XZ compression for modules
## and it makes no sense to compress the kernel differently
CONFIG_KERNEL_XZ=y

## Tune zswap a little
CONFIG_ZSWAP_DEFAULT_ON=y
CONFIG_ZSWAP_COMPRESSOR_DEFAULT_LZ4HC=y
CONFIG_ZSWAP_ZPOOL_DEFAULT_Z3FOLD=y

## I know this isn't "safe" but god damn who's going to exploit this on a desktop
CONFIG_RETPOLINE=n
CONFIG_X86_CET=n  # See /etc/portage/package.use/lto
